{% extends 'base.html.twig' %}

{% block body %}
    <h1>Websocket WAMP demo</h1>

    <label for="txtMsg">Message to publish</label><input type="text" id="txtMsg" />
    <button id="btnSend">Send message</button>

    <div id="logger"></div>
{% endblock %}
